#test {
  width: 400px;
  height: 200px;
}

.sprite-container {
  width: 400px;
  height: 200px;
}

.three-container {
  width: 400px;
  height: 200px;
}

.group {
  width: 1800px;
  height: 900px;
}

.test-group {
  height: 900px;
  --sprite-pos: 1000px, 500px;
  --sprite-anchor: 0.5;
}

.test-t {
  font-size: 100px;
  --sprite-pos: 600px, 200px;
}

sprite.robot {
  width: 365px;
  height: 505px;
  --sprite-anchor: 0.5;
  --sprite-pos: 400px, 400px;
}

sprite.robot.on-ani {
  width: 400px;
  height: 600px;
}

.test-robot {
  width: 365px;
  height: 505px;
}
