.hello-world-container {
  padding-left: 20px;
  padding-top: 20px;

  .r2c-wrapper {
    position: relative;
    width: 400px;
    height: 200px;
  }
}

.hello-world-group {
  width: 1800px;
  height: 900px;
  background: gray;

  .txt {
    font-size: 100px;
    --sprite-pos: 600px, 200px;
  }

  .robot {
    width: 365px;
    height: 505px;
  }
}
